[submodule "emacs/.emacs.d/site-lisp/holymotion"]
	path = emacs/.emacs.d/site-lisp/holymotion
	url = https://github.com/Overdr0ne/holymotion.git
[submodule "emacs/.emacs.d/site-lisp/color-rg"]
	path = emacs/.emacs.d/site-lisp/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "emacs/.emacs.d/site-lisp/combobulate"]
	path = emacs/.emacs.d/site-lisp/combobulate
	url = https://github.com/mickeynp/combobulate.git
[submodule "zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/plugins/zsh-completions"]
	path = zsh/.zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.zsh/plugins/zsh-autosuggestions"]
	path = zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.zsh/plugins/pure"]
	path = zsh/.zsh/plugins/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "spacemacs/.spacemacs.d/emacs.d"]
	path = spacemacs/.spacemacs.d/emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "emacs/.emacs.d/site-lisp/eshell-git-prompt-yx"]
	path = emacs/.emacs.d/site-lisp/eshell-git-prompt-yx
	url = https://github.com/xplutoy/eshell-git-prompt-yx.git
[submodule "emacs/.emacs.d/site-lisp/emacs-eat"]
	path = emacs/.emacs.d/site-lisp/emacs-eat
	url = https://codeberg.org/akib/emacs-eat.git
[submodule "emacs/.emacs.d/site-lisp/crux-yx"]
	path = emacs/.emacs.d/site-lisp/crux-yx
	url = https://github.com/xplutoy/crux-yx.git
