.DS_Store
emacs.d/bookmarks
emacs.d/backup/*
emacs.d/auto-save-list/*
emacs.d/backups/*
emacs.d/.cache/*
emacs.d/elpa/*
emacs.d/eshell/*
emacs.d/url/*
emacs.d/package-quickstart.el
emacs.d/package-quickstart.elc
emacs.d/projects
emacs.d/places
emacs.d/games
emacs.d/recentf
emacs.d/tramp
emacs.d/history
emacs.d/ido.last
eww-bookmarks
emacs.d/eln-cache/*
emacs.d/org-roam.db
emacs.d/.emacs.desktop
emacs.d/.org-id-locations
emacs.d/.emacs.desktop*
emacs.d/librime/*
emacs.d/elfeed-db/*
emacs.d/network-security.data
emacs.d/desktop.saved/*
emacs.d/News/*
emacs.d/transient/*
newsrc-dribble
newsrc.eld
emacs.d/newsticker
emacs.d/multisession
emacs.d/keyfreq*
emacs.d/tree-sitter/*
spacemacs.d/\.*
/emacs.d/vimish-fold/
