**/.DS_Store
**/bookmarks
**/backup
**/auto-save-list
**/backups
**/.cache
**/elpa
**/eshell
**/url
**/package-quickstart.*
**/projects
**/places
**/games
**/recentf
**/tramp
**/history
**/ido.last
**/eww-bookmarks
**/eln-cache
**/org-roam.db
**/.emacs.desktop
**/.org-id-locations
**/.emacs.desktop
**/librime
**/elfeed-db
**/network-security.data
**/transient
**/newsrc-dribble
**/newsrc.eld
**/newsticker
**/multisession
**/keyfreq
**/tree-sitter
**/vimish-fold
**/emacs.pdmp
*.log
**/pyim
